html {
  --bijela: #ffffff;
  --svsiva: #aaaaaa;
  --siva: #969696;
  --tmsiva: #252525;
  --crna: #121212;
  --zelena: #7dce94;
  --svplava: #0e91a1;
  --plava: #146c78;
}

#nav-1 {
  position: sticky;
  background-image: url(/images/Pocetna1.png);
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Roboto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
}

#nav-1 ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

#nav-1 ul li a {
  color: var(--bijela);
  padding: 0 0.5rem 0 0.5rem;
  text-decoration: none;
}

#nav-1 button {
  width: 7rem;
  height: 3rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 1px 2px 2px;
  color: var(--svplava);
}

#main-1 {
  padding: 0rem 0 0em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(8.5rem);
}

#main-1 h1 {
  color: var(--bijela);
  text-align: center;
  width: 600px;
  height: 158px;
  font-family: Road Rage;
  left: 50%;
  font-size: 4rem;
}

#main-1 button {
  font-size: 1.5rem;
  width: 16rem;
  height: 4rem;
  box-shadow: 1px 2px 2px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.4);
}

#main-1 button a {
  font-family: Roboto;
  text-decoration: none;
  color: var(--svplava);
}

#page-1 {
  background-image: url(/images/Pocetna1.png);
  padding-bottom: 42rem;
  background-size: cover;
  background-position: center;
}

#logo {
  padding: 0.5rem 0 0 3rem;
}

#navbarCenteredExample {
  display: flex;
  justify-content: space-around;
}
